table{
    color:white;
}

.row-title{
    background-color:#414a42;
}

.content-modal{
    margin: 10px;
}

.main-center{
    margin-left: 10px;
    margin-right: 10px;
    width: 95% !important;
}

.main-center .button-native{
    background-color: #198754 !important;    
    border: none;
    box-shadow: none;
}

.label-total{
    margin-right: 10px;
}

.total-container{
    padding-right: 3px;
}