<corpo-header>Mis Deudas</corpo-header>


<section class="wrapper">
  <div class="row mt">
    <div class="col-md-12">
      <section id="no-more-tables" *ngIf="balances.length > 0">
        <div class="row">
          <div class="d-inline-flex align-items-center total-container">
            <label class="form-label" class="text-white label-total">Total:</label>
            <input type="text" class="form-control" [value]=total readonly>>
          </div>
        </div>

        <table class="table table-bordered table-condensed cf user-table">
          <thead class="cf bg-success text-white">
            <tr>
              <th class="numeric">Fecha</th>
              <th class="numeric">Concepto</th>
              <th class="numeric">Detalle</th>
              <th class="numeric">Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr class="scrollme" *ngFor="let balance of balances">
              <td data-title="Concepto" class="row-title"><span *ngIf="balance.transaction == 1">Venta</span><span
                  *ngIf="balance.transaction == 2">Cuota</span></td>
              <td data-title="Fecha"><span>{{balance.date | date: 'dd/MM/yyyy h:mm:ss a'}}</span></td>
              <td data-title="Detalle">
                <span>
                  <button class="btn btn btn-success w-100 btn-action-list" (click)="getTransaction(balance)">ver
                    detalle</button>
                </span>
              </td>
              <td data-title="Saldo"><span *ngIf="balance.balance>0">{{balance.balance}}</span><span
                  *ngIf="balance.balance<0">{{balance.balance * -1}} (a favor)</span></td>
            </tr>
          </tbody>
        </table>


        
            

      </section>
    </div>
  </div>
</section>
<ion-spinner *ngIf="requesting"></ion-spinner>
<h5 *ngIf="!requesting && balances.length == 0" class="text-white m-3">No hay deudas registradas.</h5>


<ion-button id="trigger-button" class="d-none">Click to open modal</ion-button>
<ion-modal trigger="trigger-button">
  <ng-template>

    <ion-content>
      <section id="no-more-tables" *ngIf="displayFee">
        <div class="table-wrapper-scroll-y my-custom-scrollbar content-modal">
          <table class="table table-bordered table-condensed cf scrollme detail-table">
            <thead class="cf">
              <tr>
                <th>Plan</th>
              </tr>
              <tr>
                <th>Alta</th>
              </tr>
              <tr>
                <th>Vencimiento</th>
              </tr>
              <tr>
                <th>Creditos</th>
              </tr>
              <tr>
                <th *ngIf="fee.promotion">Promoción</th>
              </tr>
              <tr>
                <th>Total</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let fee of feeDetail" class="scrollme">
                <td class="td-title row-title" data-title="Plan">{{fee.member.plan.name}}</td>
                <td class="td-title" data-title="Alta">{{fee.from | date: 'dd/MM/yyyy'}}</td>
                <td class="td-title" data-title="Vencimiento">{{fee.to | date: 'dd/MM/yyyy'}}</td>
                <td class="td-title" data-title="Creditos">{{fee.credits}}</td>
                <td *ngIf="fee.promotion" class="td-title" data-title="Promoción">{{fee.promotion}}</td>
                <td class="td-title" data-title="Total">{{fee.total}}</td>
              </tr>
            </tbody>
          </table>
          
        </div>
      </section>


      <section id="no-more-tables" *ngIf="displaySale">
        <div class="table-wrapper-scroll-y my-custom-scrollbar content-modal">
        

          <table class="table table-bordered table-condensed cf scrollme detail-table">
            <thead class="cf">
              <tr>
                <th colspan="2">Fecha: {{sale.date | date: 'dd/MM/yyyy h:mm:ss a'}}</th>
                <th colspan="2" *ngIf="status">
                  Estado: <span *ngIf="status == 1">Vigente</span><span *ngIf="status == 2">Cancelada</span>
                </th>
              </tr>
              <tr>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of detailsSale" class="scrollme">
                <td class="td-title row-title" data-title="Descripcion">{{detail.product.description}}</td>
                <td class="td-title" data-title="Cantidad">{{detail.quantity}}</td>
                <td class="td-title" data-title="Precio">{{detail.price}}</td>
                <td class="td-title" data-title="Total">{{detail.quantity*detail.price}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>

      <button id="trigger-button" (click)="close()" class="btn btn-success main-center w-100">Volver</button>
    </ion-content>

  </ng-template>
</ion-modal>