<div class="wrapper">
  <header class="modal-header">
    <h3 class="mb text-center text-white">Ficha de aptitud médica</h3>
  </header>

  <div class="row">
    <form [formGroup]="formCreate">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-4 col-md-4 pull-left mt-2 form-group">
            <label class="col-sm-12 control-label ">Edad:</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="age">
            </div>
          </div>
          <div class="col-12 col-lg-4 col-md-4 pull-left mt-2 form-group">
            <label class="col-sm-12 control-label ">Sexo:</label>
            <select class="form-control" formControlName="gender" (change)="selectGender($event.target.value)">
              <option value="" disabled>Seleccionar...</option>
              <option value="man">Hombre</option>
              <option value="woman">Mujer</option>
            </select>
            <p class="text-danger" *ngIf="sendForm && f.gender.errors?.required">* el campo es requerido</p>
          </div>
          <div class="col-12 col-lg-4 col-md-4 pull-right mt-2 form-group">
            <label class="col-sm-12 control-label ">Periodo:</label>
            <input type="text" class="form-control" formControlName="period">
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-lg-4 col-md-4 mt-2 form-group">
            <label class="col-sm-12 control-label ">Peso:</label>
            <div class="col-sm-12">
              <input type="text" class="form-control" formControlName="weight">
              <p class="text-danger" *ngIf="sendForm && f.weight.errors?.required">* el campo es requerido</p>
            </div>
          </div>


        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 form-group box-radio-title">
          <label class="control-label ">Alergias:</label>
        </div>
        <div class="col-6 group-radio-label">
          <h1>Dynamic Sizes</h1>
    <ion-toggle color="tertiary" class="dynamic-small width-small height-small"></ion-toggle>
    <ion-toggle color="tertiary" checked class="dynamic-small width-small height-small"></ion-toggle>
    <ion-toggle color="tertiary" class="dynamic-large width-large height-large"></ion-toggle>
    <ion-toggle color="tertiary" checked class="dynamic-large width-large height-large"></ion-toggle>
          <input id="chkSwitch" type="checkbox" data-toggle="switchbutton" checked data-onstyle="dark" 
            data-offstyle="light" data-style="border" data-width="70" data-onlabel="si" data-offlabel="no"
            (change)="enableInput($event.target.value, 'allergies')" />

        </div>
        <div class="formValidators col-12">
          <input type="text" class="form-control" formControlName="allergies">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 form-group">
          <label class="control-label ">Cirugias:</label>
        </div>
        <div class="col-6 group-radio-label">
          <input type="radio" class="radio-button" value="yes" formControlName="surgicalInterventionChecked"
            (change)="enableInput($event.target.value, 'surgicalIntervention')">
          <span>Si</span>
          <input type="radio" class="radio-button" value="no" formControlName="surgicalInterventionChecked"
            (change)="enableInput($event.target.value, 'surgicalIntervention')">
          <span>No</span>
        </div>
        <div class="formValidators col-12">
          <input type="text" class="form-control" formControlName="surgicalIntervention">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 control-label  form-group">
          <label class="control-label ">Enf. cardiaca:</label>
        </div>
        <div class="col-6 group-radio-label">
          <input type="radio" class="radio-button" value="yes" formControlName="heartDiseaseChecked"
            (change)="enableInput($event.target.value, 'heartDisease')">
          <span>Si</span>
          <input type="radio" class="radio-button" value="no" formControlName="heartDiseaseChecked"
            (change)="enableInput($event.target.value, 'heartDisease')">
          <span>No</span>
        </div>
        <div class="formValidators col-12">
          <input type="text" class="form-control" formControlName="heartDisease">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 control-label form-group">
          <label class="control-label ">Enf. respiratoria:</label>
        </div>
        <div class="col-6 group-radio-label">
          <input type="radio" class="radio-button" value="yes" formControlName="respiratoryDiseaseChecked"
            (change)="enableInput($event.target.value, 'respiratoryDisease')">
          <span>Si</span>
          <input type="radio" class="radio-button" value="no" formControlName="respiratoryDiseaseChecked"
            (change)="enableInput($event.target.value, 'respiratoryDisease')">
          <span>No</span>
        </div>
        <div class="formValidators col-12">
          <input type="text" class="form-control" formControlName="respiratoryDisease">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6 control-label form-group">
          <label class="control-label ">Medicación hab.:</label>
        </div>
        <div class="col-6 group-radio-label">
          <input type="radio" class="radio-button" value="yes" formControlName="habitualMedicationChecked"
            (change)="enableInput($event.target.value, 'habitualMedication')">
          <span>Si</span>
          <input type="radio" class="radio-button" value="no" formControlName="habitualMedicationChecked"
            (change)="enableInput($event.target.value, 'habitualMedication')">
          <span>No</span>
        </div>
        <div class="formValidators col-12">
          <input type="text" class="form-control" formControlName="habitualMedication">
        </div>
      </div>
      <div class="col-12">
        <div class="row">
          <div class="col-12 pull-left mt-2  form-group">
            <div class="col-12 form-group formMargin">
              <label class="col-12 control-label ">Observaciones:</label>
              <div class="formValidators">
                <input type="text" class="form-control" formControlName="observations">
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>