.registration {
    text-align: center;
  }
  
  .login-social-link {
    text-align: center;
  }
  
  .form-login-heading {
    text-align: center;
    margin-bottom: 15px;
  }
  
  .btn-sign-in {
    margin-left: 60px;
    margin-top: 15px;
  }
  
  .login-passw-modal {
    margin-left: 14px;
  }
  
  .checkbox {
    margin-top: 5px;
  }
  
  .login-container {
    width: 300px;
  }
  
  .modal-title {
    background-color: #40bf0b;
  }

  ion-card.logo{
    width: 70%;
    background-color: #5e6d6d8f;
    margin: auto;
  }
  