.wod-container {
  color: white;
}

.wod-group {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #f2f2f7;
}

.wod-table {
  margin-bottom: 0px;
  border-color: #999494;
  background-color: #dddddd;
}

.group-detail {
  display: block;
  width: fit-content;
  color: black;
  margin-bottom: 15px;
}

.video-icon{
  float: right;
  color: #e10c0c;
  width: 20px;
}

.label-goal {
  color: #888888;
}

.goal {
  color: #000000;
  margin-left: 10px;
}

td.mode-value{
  font-size: 12px;
}

