.btn-exercise {
    background-color:  #86b686;
    color: white;
    border:solid, 1px, #32ac32;
}

.main-center{
    width: 100%;
    margin-bottom: 10px;
}

.month {
    background-color:#348d4b;
    border-radius: 4px;
    padding: 10px;
    height: 50px;
    color: white;
  }

  ion-accordion {
    margin: 0 auto;
  }

  .color-icon{
      color: #32ac32 ;
  }
  .color-link {
      color: #2dd36f ;
      text-decoration: none;
  }

  .color-input{
      background-color: white;
      color: black;
  }

  .margin-card{
      margin-bottom: 1rem;
      margin-left: 0rem;
      margin-right: 0rem;
      padding-bottom: 1rem;
  }

  .margin-btn{
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

// .margin-text > input{
//     margin-left: 1rem;
// }
