<corpo-header>Modificar email</corpo-header>
<section class="wrapper">
  <div class="container-fluid">
    <div class="col-lg-6">
      <div class="form-panel">
        <form [formGroup]="modificationForm">
          <div class="row">
            <div class="col-lg-12 form-group">
              <label class="col-sm-12 control-label">Email actual:</label>
              <div class="formValidators">
                <input type="text" class="form-control" readonly formControlName="email">
              </div>
            </div>
            <div class="col-lg-12 form-group">
              <label class="col-sm-12 control-label">Nueva Dirección de Email:</label>
              <div class="formValidators">
                <input type="text" class="form-control" formControlName="newEmail">
                <p *ngIf="sendForm && f.newEmail.errors?.required">*el campo es requerido</p>
                <p *ngIf="sendForm && f.newEmail.errors?.email">*ingresar email valido</p>
              </div>
            </div>
          </div>
          <div class="col-lg-12 form-group">
            <label class="col-sm-12 control-label">Confirma tu nueva dirección de Email:</label>
            <div class="formValidators">
              <input type="text" class="form-control" formControlName="repeatNewEmail">
              <p *ngIf="sendForm && f.repeatNewEmail.errors?.mustMatch">*los email no coinciden</p>
            </div>
          </div>
          <div class="col-lg-12 form-group">
            <label class="col-sm-12 control-label">Contraseña:</label>
            <div class="formValidators">
              <input type="text" class="form-control" formControlName="password">
              <p *ngIf="sendForm && f.password.errors?.required">*el campo es requerido</p>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <button class="btn btn-secondary pull-left mt-2" type="button" [routerLink]="['/my-account']">Cancelar</button>
        <button class="btn btn-success pull-right mt-2" type="submit" (click)="submit()">Guardar</button>
      </div>
    </div>
  </div>
</section>
