
.week {
  background-color: #008b24;
  border-radius: 4px;
  color: white;
}

.month {
  background-color:#94e494;
  border-radius: 4px;
  padding: 8px;
}

ion-card.card-chart {
  background-color: #e6e6e6;
}




