<div class="row box-content">
  <form [formGroup]="formCreate">
    <div class="row">
      <div class="col-lg-6 form-group">
        <label class="col-sm-6 control-label labelFormStyle">Apellido:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="lastName">
          <p  class="text-danger"  *ngIf="sendForm && f.lastName.errors?.required">*el campo es requerido</p>
        </div>
      </div>
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Nombre:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="name">
          <p  class="text-danger"  *ngIf="sendForm && f.name.errors?.required">*el campo es requerido</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Fecha de Nacimiento:</label>
        <div class="formValidators">
          <input type="date" class="form-control" formControlName="birthDate" [ngModel]="dt | date:'yyyy-MM-dd'">
          <p  class="text-danger"  *ngIf="sendForm && f.birthDate.errors?.required">*el campo es requerido</p>
        </div>
      </div>
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Dirección:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="address">
          <p  class="text-danger"  *ngIf="sendForm && f.address.errors?.required">*el campo es requerido</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Obra Social:</label>
        <div>
          <input type="text" class="form-control" formControlName="socialSecurity">
        </div>
      </div>
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Celular:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="phone">
          <p  class="text-danger"  *ngIf="sendForm && f.phone.errors?.required">*el campo es requerido</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Número de Urgencia:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="emergencyPhone">
          <p  class="text-danger"  *ngIf="sendForm && f.emergencyPhone.errors?.required">*el campo es requerido</p>
        </div>
      </div>
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Contacto de Urgencia:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="emergencyContact">
          <p  class="text-danger"  *ngIf="sendForm && f.emergencyContact.errors?.required">*el campo es requerido</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Instagram:</label>
        <div>
          <input type="text" class="form-control" formControlName="instagram">
        </div>
      </div>
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Facebook:</label>
        <div>
          <input type="text" class="form-control" formControlName="facebook">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Plan:</label>
        <div class="formValidators">
          <select class="form-control" formControlName="planId" (change)="selectPlan($event.target.value)">
            <option value="" disabled>
              <p class="labelFormStyle">Seleccionar...</p>
            </option>
            <option *ngFor="let plan of plans" value={{plan.id}}>{{plan.name}}</option>
          </select>
          <p  class="text-danger"  *ngIf="sendForm && f.planId.errors?.required">*el campo es requerido</p>
        </div>
      </div>
    </div>
  </form>
  <form *ngIf="modeCreate" [formGroup]="formAccount">
    <div class="row">
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Email:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="email">
          <p  class="text-danger"  *ngIf="sendForm && fAccount.email.errors?.required">*el campo es requerido</p>
          <p  class="text-danger"  *ngIf="sendForm && fAccount.email.errors?.email">*ingresar email valido</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Contraseña:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="password">
          <p  class="text-danger"  *ngIf="sendForm && fAccount.password.errors?.required">*el campo es requerido</p>
          <p  class="text-danger"  *ngIf="sendForm && fAccount.password.errors?.pattern">*Debe contener una mayúscula, ser alfanúmerica y
            tener entre 8 y 15 caracteres</p>
        </div>
      </div>
      <div class="col-lg-6 form-group mt-2">
        <label class="col-sm-6 control-label labelFormStyle">Repetir Contraseña:</label>
        <div class="formValidators">
          <input type="text" class="form-control" formControlName="repeatPassword">
          <p  class="text-danger"  *ngIf="sendForm && fAccount.repeatPassword.errors?.mustMatch">*las contraseñas no coinciden</p>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- col-lg-12-->