<corpo-header>Mis Tests</corpo-header>
<section class="wrapper" *ngIf="!displayTests">
	<ion-button
		expand="block"
		color="success"
		class="main-center"
		[routerLink]="['/test']"
		[queryParams]="{ id: id }"
		>Realizar Test</ion-button
	>

  <ion-button expand="block" color="success" class="main-center"
  (click)="getTestHistory()"
		>Historial</ion-button
	>
</section>

<section class="wrapper" *ngIf="displayTests">
	<div class="row mt">
		<div class="col-md-12">
			<section id="no-more-tables">
				<table class="table table-bordered table-condensed cf user-table">
					<thead class="cf bg-success text-white">
						<tr>
							<th class="numeric">Test</th>
							<th class="numeric">Estado</th>
							<th class="numeric">Fecha</th>
							<th class="numeric"></th>
						</tr>
					</thead>
					<tbody>
						<tr class="scrollme" *ngFor="let test of tests">
							<td data-title="Test" class="row-title">{{test.name}}</td>
							<td data-title="Estado">
								<span *ngIf="test.valid" class="badge bg-success">Pendiente</span>
								<span *ngIf="!test.valid"  class="badge bg-secondary">Realizado</span>            
							</td>

							<td data-title="Fecha"><span>{{test.date | date: 'dd/MM/yyyy'}}</span></td>
							<td data-title="">
								<span>
									<ion-button expand="block" color="success" class="w-100 btn-action-list" [routerLink]="['/resultados']" [queryParams]="{id: test.id}">
										Resultado
									</ion-button>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
  </div>
  <ion-button *ngIf="displayTests" expand="block" color="medium" class="margin-btn" (click)="hideTests()">Volver</ion-button>

</section>

