.week {
  padding-top: 5px;
  background-color: #008b24;
  height: 100%;
  border-radius: 4px;
}

.volume{
  background-color: #477653;
  border-radius: 4px;
}

.week-container {
  display: flex;
}

.month {
  background-color: #94e494;
  border-radius: 4px;
}

.goal-text {
  font-size: small;
  color: #dbd2d2;
  margin-bottom: 5px !important;
}

ion-card.card-chart {
  background-color: #e6e6e6;
}
